* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
}

.container {
  display: flex;
  max-width: 800px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 35px rgb(0, 60, 172);
}

.card-img img {
  width: 300px;
  object-fit: cover;
  padding: 10px;
  border-radius: 20px;
}
img {
  border: 5px;
  border-radius: 10px;
}

.card-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.card-content p {
  font-size: 16px;
  color: #555;
  margin-bottom: 15px;
  line-height: 1.5;
}

.card-content p:last-child {
  margin-bottom: 0;
}
